
<div>
  <span class="previous">
    <%= link_to("<Previous Picture", @asia_photo.previous) %>
  </span>

  <span class="next">
    <%= link_to("Next Picture >", @asia_photo.next) %>
  </span>
</div>


<div class="index">
  <div class="showpage">
    <h1> <%= @asia_photo.caption %> </h1>
    <img src="<%= @asia_photo.image %>" />
    <p></p>
    <p>Country: <%= @asia_photo.country %>
    </br>Date: <%= @asia_photo.date %>
  </br>Description: <%= @asia_photo.description %></p>
  </div>
</div>

<span class="categorylink">
  <h4><%= link_to("Back To Asia Index Page", asia_photos_path)%></h4>
</span>
